*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main-container{
    display: flex;
    /* justify-content: flex-start; */
    height: 100vh;
    width: 100vw;

}
.sidebar{
    background-color: #1992d4;
    display: grid;
    height: 100vh;
    grid-template-rows: 60px 30px repeat(6,60px) 30px repeat(3,60px);
    color: white;
    padding: 0 30px;
    width: 15vw;
    
}
.icon{
    height: 20px;
    filter: invert();
    cursor: pointer;
}
.div-side{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}
.div-side h4{
    cursor: pointer;
}
.dashboard{
    font-size: 20px;
}
.dashboard img{
    height: 30px;
}
.right{
    display: flex;
    flex-direction: column;
}
.header{
    padding: 0px 50px;
    /* width: 100%; */
    width: 85vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 55px 55px;
    box-shadow: 5px 5px 10px rgb(190, 181, 181);
    height: 15vh;
    z-index: 1;
}
.black{
    filter: none;
}
#search{
    background-color: rgb(218, 242, 242);
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 26px;
    padding: 5px;
}
.div-header{
    display: flex;
    align-items: center;
    gap: 10px;
}
.div-header-2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
}
.dp{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.header-btn{
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    background-color: #1992d4;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.projects{
    background-color: #e2e8f0;
    height: 85vh;
    display: flex;
    width: 85vw;
    padding: 20px 20px;
}
.your-projects{
    width: 60vw;
}
.your-projects h3{
    margin-bottom: 20px;
}
.project-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.griddy{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-left: 5px solid rgb(255, 228, 20);
    border-radius: 10px;
}
.grid-above{
    display: flex;
    padding: 15px 10px;
    flex-direction: column;
    gap: 5px;
}
.grid-above p{
    font-size: 14px;
    color: rgb(106, 106, 106);
}
.grid-below{
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px;
    gap: 10px;
}
.trending{
    background-color: #e2e8f0;
    width: 25vw;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    gap: 20px;
}
.an-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.an-box{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.an-div{
    border-bottom: 2px solid rgb(181, 181, 181);
    padding: 10px;
}
.an-div p{
    font-size: 10px;
    color: #666667;
}
.an-div h4{
    font-size: 13px;
}
.last{
    border-bottom: none;
}
.trending-box{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    background-color: white;
    border-radius: 10px;
    padding: 20px 25px;
    gap: 10px;
}
.trending-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.trend-div{
    display: flex;
    gap: 15px;
}
.trend-text > .text{
    color: #666667;
}
.trend-text{
    font-size: 14px;
}
